.profileContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 60px;
}

.left {
    width: 40%;
}

.right {
    width: 480px;
    height: 100%;
}

.nav {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.text {
    line-height: 60px;
    text-decoration: none;
}

.link:hover {
    opacity: .7;
    cursor: pointer;
}

.description {
    margin-top: 80px;
    opacity: .4;
}

.link {
    composes: text_type_main-default text_color_accent from global;
    text-decoration: none;
    cursor: pointer;
}
